.advantages__title {
  .title;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
  position: relative;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .bold;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 45px;
  }

  &--bridge {
    @media (max-width: @mobile-width-only) {
      br {
        display: none;
      }
    }

    padding: 0;
  }

  &--house {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin-top: 2px;
    }
  }

  &--souvenirs {
    @media (min-width: @tablet-width) {
      margin-top: -2px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 0;
    }
  }
}

.advantages__title--house::before {
  content: "";
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 37px;
  height: 39px;
  left: -20%;
  top: -30%;

  @media (min-width: @tablet-width) {
    width: 77px;
    height: 72px;
    left: 27%;
    top: -99px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 76px;
    left: 108px;
    top: -103px;
  }
}

.advantages__title--food::before {
  content: "";
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -19%;
  top: -30%;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    left: 26%;
    top: -102px;
  }

  @media (min-width: @desktop-width) {
    width: 73px;
    height: 69px;
    left: 37%;
    top: -97px;
  }
}

.advantages__title--souvenirs::before {
  content: "";
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
  position: absolute;
  width: 32px;
  height: 38px;
  left: -19%;
  top: -30%;

  @media (min-width: @tablet-width) {
    background-size: cover;
    width: 75px;
    height: 75px;
    left: 29%;
    top: -90px;
  }

  @media (min-width: @desktop-width) {
    width: 78px;
    height: 75px;
    left: 36%;
    top: -100px;
  }
}

.advantages__item {
  &--preview {
    background: @background-preview;
    color: @subtitle-color;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 256px 512px;
      overflow: hidden;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 400px 800px;
    }
  }

  &--preview-bridge {
    background: @background-preview;
    color: @subtitle-color;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 512px 256px;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 800px 400px;
    }
  }

  &--no-preview {
    color: #000000;
    background: #eeeeee;
    text-align: center;
    position: relative;
  }


  &--cards {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 44px;
    }

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1 / -1;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__item--no-preview:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #d6d6d6;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__wrapper {
  padding: 59px 18px 40px;

  @media (min-width: @tablet-width) {
    padding: 52px 30px 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px 51px;
  }

  &--city {
    @media (min-width: @tablet-width) {
      order: -1;
    }

    @media (min-width: @desktop-width) {
      padding: 52px 55px 51px;
    }
  }

  &--bridge {
    @media (max-width: @mobile-width-only) {
      padding: 37px 18px;
    }

    @media (min-width: @tablet-width) {
      order: 1;
    }

    @media (min-width: @desktop-width) {
      padding: 52px 90px 51px;
    }
  }

  &--no-preview {
    padding: 25px 33px;

    @media (min-width: @tablet-width) {
      padding: 41px 33px;
    }

    @media (min-width: @desktop-width) {
      padding: 52px 50px;
    }
  }
}

.advantages__subtitle {
  .subtitle;
  margin-top: 14px;
  margin-bottom: 0;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 24px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }

  &--number {
    @media (min-width: @tablet-width) {
      margin-top: 5px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 13px;
    }
  }

  &--item {
    color: #ffffff;

    @media (min-width: @tablet-width) {
      br {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      br {
        display: none;
      }
    }

    &--vegas {
      @media (max-width: @mobile-width-only) {
        br {
          display: none;
        }
      }

      @media (min-width: @desktop-width) {
        br {
          content: " ";
          float: right;
        }

        padding: 0 15px;
      }
    }
  }

  &--cards {
    margin-top: 18px;

    @media (min-width: @tablet-width) {
      margin-top: 22px;
    }
  }

  &--city {
    @media (max-width: @mobile-width-only) {
      br {
        display: block;
      }
    }

    @media (min-width: @desktop-width) {
      br {
        display: block;
      }
    }
  }
}

.advantages__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &--cards {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 44px;
    }

    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

//Блок для окошек без картинок серые
.advantages__wrapper-cards {
  @media (max-width: @mobile-width-only) {
    padding: 31px 18px 0 65px;
    text-align: left;

    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 154px 44px 61px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding: 166px 50px 71px;

    &--souvenirs {
      padding-top: 170px;
    }
  }
}

.advantages__city,
.advantages__bridge {
  display: block;
}
