.catalog-intro {
  text-align: center;
  text-transform: uppercase;
  padding-top: 37px;

  @media (min-width: @tablet-width) {
    padding: 66px 135px 67px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 352px 65px;
  }
}

.catalog-intro__header {
  .title;
  margin-top: 0;
}

.catalog-intro__subtitle {
  .subtitle;
}
