.form-intro {
  padding: 36px 0 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 55px 0 69px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 120px 69px;
  }
}
