.location__map {
  min-width: 320px;
  height: 350px;
  border: none;
  width: -webkit-fill-available;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}
