.modal {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  background: #ffffff;

  &--negative {
    padding: 45px 41px 35px;
  }
}

.modal__title {
  .bold;
}

.modal__subtitle {
  .subtitle;
}

.modal__close-button {
  .title;
  width: 280px;
  padding-top: 18px;
  padding-bottom: 14px;
  background-color: @button-blue;
}

//Ваш отзыв отправлен
.modal__wrapper {
  padding: 39px 39px 20px;

  @media (min-width: @tablet-width) {
    padding: 53px 97px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 46px;
  }
}

.modal__button {
  padding: 20px;
  background: #f2f2f2;
}

//Кнопка ок
.modal__ok-button {
  .title;
  width: 180px;
  padding-top: 18px;
  padding-bottom: 14px;
  background-color: @button-blue;
}

//Mодальныe окна*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;

  &--close-positive {
    display: none;
  }

  &--close-negative {
    display: none;
  }
}
