
.page-footer {
  padding: 33px 0;
  text-align: center;
}

.page-footer__title {
  .title;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer__madeby-link {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer__social-list {
  .list-reset();
}
