.product__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product__item {
  &--spaces {
    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }
}

.product__image {
  margin: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &--spaces {
    @media (min-width: @tablet-width) {
      min-width: 648px;
    }

    @media (min-width: @desktop-width) {
      min-width: 1200px;
    }
  }

  &--wrapper {
    @media (min-width: @tablet-width) {
      min-width: 648px;
    }

    @media (min-width: @desktop-width) {
      min-width: 1200px;
    }
  }
}

.product__caption {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--wrapper {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.product__caption-title {
  .title;
  text-align: left;
  color: #000000;
}

.product__caption-subtitle {
  .subtitle;
  text-transform: none;
  text-align: left;
}

.product__link {
  text-decoration: none;
}

.product__caption-positive {
  display: flex;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: end;
  }
}

.product__caption-positive-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
