.review-form__field {
  padding: 0;
  border: none;
}

.review-form__id-wrapper {
  display: flex;
  flex-direction: column;
}

.review-form__title {
  .title;
}

.review-form__label {
  .subtitle;
  text-align: left;
}

.review-form__input {
  .title;
  font-family: inherit;
  background: #f2f2f2;
  border: none;
}

.review-form__effect-list {
  .list-reset;
}

.review-form__control-label {
  .title;
  text-transform: none;
}

.review-form__marks-group {
  border: none;
}

.review-form__description {
  .title;
  font-family: inherit;
  border: none;
  background: #f2f2f2;
  padding: 16px;
}

.review-form__button {
  .bold;
  .button;
  background-color: @background-preview;
  color: @subtitle-color;
  width: 280px;
}

.review-form__footnote {
  display: flex;
  justify-content: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
