.video {
  padding: 17px 0 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 58px 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 200px 84px;
  }
}

.video__wrapper {
  padding: 0 6px 38px;

  @media (min-width: @tablet-width) {
    padding: 0 102px 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 177px 44px;
  }
}

.video__title {
  .bold;
  margin: 0 0 37px;
}

.video__subtitle {
  .subtitle;
  margin-bottom: 0;
}
