.welcome {
  background-image: url("../img/main-hero-back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5282ab;
  height: 389px;


  &--small {
    background-image: url("../img/main-hero-back-mobile-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5282ab;
    min-height: 158px;
  }

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../../img/main-hero-back-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background-image: url("../../img/main-hero-back-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
